.cdk-drag-preview {
  background-color: rgba($color: #555, $alpha: 0.5);
  overflow: hidden;
}

.debt {
  background-color: rgba(80, 0, 0, 0.4);
}

.income {
  background-color: rgba(0, 80, 0, 0.4);
}
