<div class="flex items-center mt-2 ml-2">
  <label for='newaccount'>New Account Name</label>
  <input id="newAccountInput" id="newaccount" [(ngModel)]="newAccountName" (keydown)="newAccountInputKeyDown($event)" class="border ml-2" />
  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-2"
    (click)="createNewAccount()">Create</button>
</div>
<div class="p-2">
  <table class="w-1/2 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Column 1
        </th>
        <th scope="col" class="px-6 py-3">
          Column 2
        </th>
        <th scope="col" class="px-6 py-3">
          Edit
        </th>
      </tr>
    </thead>
    <tbody>
      @for (account of accounts; track account) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{account.Name}}</td>
        <td>Col 1</td>
        <td>Col 2</td>
        <td class="text-blue-500 cursor-pointer">
          <div (click)="editAccount(account)">Edit</div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>