<div class="max-w-sm mx-auto p-4">
    <h3 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">Budget Item</h3>

    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text" id="name" [(ngModel)]="budgetItem.Name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="mb-5">
        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
        <select id="type" [(ngModel)]="budgetItem.Type" (change)="budgetItemTypeChange($event)" name="type"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let option of budgetItemTypes" [value]="option">{{option}}</option>
        </select>
    </div>
    <div class="mb-5">
        <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
        <input type="number" min="0.01" step="0.01" id="amount" [(ngModel)]="budgetItem.Amount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="mb-5">
        <label for="account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Account</label>
        <select id="account" [(ngModel)]="budgetItem.AccountId" (change)="budgetItemAccountChange($event)" name="account"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let account of accounts" [value]="account.AccountId">{{account.Name}}</option>
        </select>
    </div>
    <div class="mb-5">
        <label for="StartDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date</label>
        <input type="date" id="StartDate" [(ngModel)]="budgetItem.StartDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="mb-5">
        <div class="flex items-center">
            <input checked id="checked-checkbox" type="checkbox" value="" [(ngModel)]="budgetItem.IsRepeat"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Repeatable?</label>
        </div>
    </div>

    <div class="mb-5 frequency" *ngIf="budgetItem.IsRepeat">
        <label for="FrequencyNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Frequency</label>
        <div class="flex flex-row gap-2">
            <input type="number" id="FrequencyNumber" [(ngModel)]="budgetItem.FrequencyNumber"
                class="w-1/4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <select id="FrequencyNumberName" [(ngModel)]="budgetItem.Frequency" (change)="budgetItemFrequencyChange($event)" name="FrequencyNumberName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option *ngFor="let frequencyType of frequency" [value]="frequencyType">{{frequencyType}}</option>
            </select>
        </div>
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Choosing Months will land on the same day of the month for every x
            number of months. Choosing Weeks will count the number of weeks starting from that day.</p>
    </div>
    <div class="mb-5">
        <label for="enddate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End Date (Optional)</label>
        <input type="date" id="enddate" [(ngModel)]="budgetItem.EndDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="flex justify-between">
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
        rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
        dark:focus:ring-blue-800" (click)="save()">Save</button>
        <button class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
        rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 
        dark:focus:ring-blue-800" (click)="confirmDelete()">Delete</button>
    </div>
</div>